---
import Debug from "astro/components/Debug.astro";
import Layout from "../../layouts/Layout.astro";
import type {
  FilmsResponse,
  PersonnesResponse,
  RolesResponse,
} from "../../pocketbase-typegen";

export const prerender = false;

type Response = FilmsResponse<{
  producteur: PersonnesResponse;
  scenaristes: PersonnesResponse[];
  roles: RolesResponse<{ acteur: PersonnesResponse }>[];
}>;

const films = await Astro.locals.pb
  .collection<Response>("Films")
  .getFullList({ expand: "producteur, scenaristes, roles.acteur" });
---

<Layout pageTitle="Films">
  {
    films.map((film) => (
      <div>
        <h2>{film.titre}</h2>
        <p>Date de sortie : {film.dateSortie}</p>
        <p>Synoosis : {film.synopsis}</p>
        {film.expand?.producteur && <p>
          Producteur : {film.expand?.producteur.prenom}{" "}
          {film.expand?.producteur.nom}
        </p>}
        {film.expand?.scenaristes && <p>
          Scénaristes :{" "}
          {film.expand?.scenaristes.map((s) => (
            <span>
              {s.prenom} {s.nom + ", "}
            </span>
          ))}
        </p>}
        {film.expand?.roles && <p>
          Casting :{" "}
          {film.expand?.roles.map((r) => (
            <span>
              {r.expand?.acteur.prenom} {r.expand?.acteur.nom} joue{" "}
              {r.nomRole + ", "}
            </span>
          ))}
        </p>}
      </div>
    ))
  };
  <Debug {films} />
</Layout>
